<div class="big-square {{get_item_from_array colors 1}}">
  This is block with walls. Usually there is nothing. May contain gates.
</div>
<div class="big-square {{get_item_from_array colors 2}}">
  Usually there is nothing. Sometimes pyato4ki spawn there.
</div>
<div class="big-square {{get_item_from_array colors 3}}">
  This is construction block. Contains teshka / edini4ka / korobka / pryamaya korobka / 4etvero4ka.
</div>
<div class="big-square {{get_item_from_array colors 4}}">
  This is dynamic structure block.
</div>
<div class="big-square {{get_item_from_array colors 5}}">
  This is static structure block. That kind of block is always static.
</div>
<div class="big-square {{get_item_from_array colors 6}}">
  This is main block.
</div>
<div class="big-square {{get_item_from_array colors 7}}">
  This is shack block.
</div>

<link rel="stylesheet" href="info.css">